@include media-big {
  body {
    background-size: 120%;
  }
}

@include media-middle {
  body {
    background-size: 150%;
  }

  .main {
    flex-direction: column;
    overflow: scroll;
  }

  .description {
    min-height: 410px;
    overflow: hidden;
    background-position: 0% 20%;
    background-size: 115%;
  }

  .control {
    border-left: 0;
    border-top: 3px solid $yellow;
  }
}

@include media-small {
  body {
    margin: 0;
    justify-content: flex-start;
  }

  .overlay {
    display: none;
  }

  .main {
    border: none;
    border-radius: 0;
    height: 100%;
  }

  .description {
    min-height: 380px;
    background-position: 0% 15%;
    background-size: 125%;
  }

  .control {
    background-color: rgba(0, 0, 0, 0.65);
  }

  .box {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
}
