@include media-big {
  body {
    background-size: 120%;
  }
}

@include media-middle {
  body {
    margin: 0;
    background-size: 150%;
  }

  .main {
    flex-direction: column;
    height: 100%;
  }

  .description {
    border: none;
    border-radius: 0;
    border-bottom: 3px solid $yellow;

    &__wrap {
      min-height: 420px;
      background-position: 0% 20%;
      background-size: cover;
    }
  }

  .overlay {
    display: none;
  }

  .control {
    border-radius: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.65);
  }
}

@include media-small {
  .description__wrap {
    min-height: 380px;
    background-position: 0% 15%;
    background-size: 125%;
  }

  .box {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
}
