@import 'config';

html,
body {
  height: 100%;
}

h1,
h2,
p,
a {
  font-family: $main-font;
  text-transform: uppercase;
  color: $grey;
  font-size: 1.2rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  background-color: #000;
  background-image: url(../img/background_wall.jpg);
  background-size: 70%;
  background-repeat: repeat;
  background-attachment: fixed;
}

@keyframes scaleme {
  50% {
    transform: scale(1.2, 1.2);
    background-color: $orange;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: opacity 0.5s;
  &.hidden-opacity {
    opacity: 0;
  }
}

.try-btn {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  margin: 2rem;
  width: 55px;
  height: 55px;
  background-color: $yellow;
  border-radius: 50%;
  border: 3px solid #2c2c2c;
  font-family: $main-font;
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  color: #2c2c2c;
  cursor: pointer;
  animation: scaleme 1.5s ease-in-out infinite;
  z-index: 1;
}

.main {
  display: flex;
  max-width: 700px;
  min-height: 721px;
  width: 100%;
  transition: opacity 0.5s;
  &.hidden-opacity {
    opacity: 0;
  }
}

.description {
  min-width: 250px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 30px 0 0 30px;
  border-left: 3px solid $yellow;
  border-top: 3px solid $yellow;
  border-bottom: 3px solid $yellow;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-image: url(../img/catwall.jpg);
    background-repeat: no-repeat;
    background-position: 28% 0;
    background-size: cover;
  }

  &__header {
    margin-top: 1rem;
    text-align: center;
  }

  &__text {
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgb(27, 27, 27) 30%,
      rgba(255, 255, 255, 0) 100%
    );
    &__accent {
      color: $yellow;
    }
  }
}

.control {
  position: relative;
  flex: 1 1 0;
  padding: 1rem 1.2rem;
  background-color: rgba(0, 0, 0, 0.2);
  border: 3px solid $yellow;
  border-radius: 0 30px 30px 0;

  &__header {
    color: $yellow;
  }

  nav {
    margin-top: 1rem;
  }

  &__day-select {
    display: flex;
    margin-top: 5rem;

    & li:not(:first-child) {
      margin-left: 0.5rem;
    }

    &__item {
      padding: 0.3rem 0.5rem;
      font-family: $main-font;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 7px;
      border: 3px solid transparent;
      transition: background-color 0.3s, color 0.3s;

      &:focus {
        border-color: $brown;
      }

      &:active {
        border-color: $brown;
      }
    }

    &__item--active {
      color: #000;
      background-color: $yellow;
      border-color: $brown;
    }
  }

  &__seat-select {
    text-align: center;
    margin-top: 1.5rem;
  }

  &__boxzone {
    padding-bottom: 1rem;
    border: 1px solid $grey;
    border-radius: 20px;

    & .control__header {
      text-align: center;
      padding: 0.3rem 0;
      border-bottom: 1px solid $grey;
    }
  }

  &__wall {
    width: 90%;
    margin: 0.5rem auto 0;
    padding-bottom: 0.5rem;
    color: $grey;
    text-align: center;
    border-bottom: 8px solid $grey;
  }

  &__boxes-row {
    display: flex;
    justify-content: center;
  }

  &__price-label {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.7rem;
    color: $orange;
  }

  &__prices {
    margin: 1rem auto 0;
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;

    &__item {
      display: flex;
      align-items: center;
      p {
        font-size: 0.7rem;
        margin-right: 0.5rem;
      }
      img {
        width: 18px;
        height: auto;
      }
    }
  }

  &__order {
    margin-top: 1rem;
    text-align: left;

    & .control__header {
      text-align: center;
    }

    &__boxes {
      display: flex;
      align-items: center;

      &__label {
        margin-top: 0.7rem;
        color: $orange;
      }

      &__set {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      &__item {
        margin-left: 0.5rem;
        margin-top: 0.7rem;
        padding: 0.3rem;
        min-width: 30px;
        font-size: 0.7rem;
        text-align: center;
        background-color: $orange;
        color: $darkgrey;
        border: 2px solid $brown;
      }
    }

    &__price {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;

      p {
        color: $orange;
      }
      span {
        color: $green;
        font-size: 1.5rem;
      }
      img {
        width: 25px;
        margin-left: 0.5rem;
      }
    }
  }

  &__confirm-btn {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    font-family: $main-font;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 7px;
    background-color: $yellow;
    -webkit-appearance: none;
    cursor: pointer;
    border: 3px solid transparent;
    &:focus {
      border-color: $brown;
    }
    &:active {
      border-color: $brown;
    }
  }
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 50px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-top: 1rem;
  background-color: $orange;
  border: 2px solid $brown;
  cursor: pointer;

  &__checkbox {
    &:checked ~ .box__cat {
      opacity: 1;
    }

    &:checked ~ .box__number {
      opacity: 0;
    }

    &:disabled ~ .box__cat {
      opacity: 1;
      background-image: url(../img/occupied_cat.svg);
      cursor: not-allowed;
    }

    &:disabled ~ .box__number {
      opacity: 0;
      cursor: not-allowed;
    }

    &:focus ~ .box__number {
      color: $brown;
    }
  }

  &__cat {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/select_cat.svg) center/85% no-repeat;
    opacity: 0;
    transition: opacity 0.6s;
  }

  &__number {
    font-size: 0.6rem;
    color: $darkgrey;
    text-align: center;
    font-family: $main-font;
    text-transform: uppercase;

    transition: opacity 0.6s, color 0.3s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

// ----------------- HOWERS
@media (hover: hover) and (pointer: fine) {
  .control__day-select__item:hover {
    color: #000;
    background-color: $yellow;
    border-radius: 7px;
  }
}

@import 'responsive';
